body{
  background:#020617;
  font-family:Arial;
  margin:0;
  color:white;
}

nav{
  background:#0f172a;
  padding:10px 16px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

#menu{
  list-style:none;
  display:flex;
  gap:20px;
}

#menuBtn{
  display:none;
  font-size:22px;
  background:none;
  border:none;
  color:white;
  cursor:pointer;
}

@media(max-width:600px){
  #menu{
    display:none;
    flex-direction:column;
    background:#0f172a;
    position:absolute;
    top:50px;
    right:10px;
    padding:10px;
  }
  #menuBtn{
    display:block;
  }
}
